# Скомпилированные файлы Java (бинарники)
*.class
*.jar
*.war

# Папка вывода сборки (куда IDEA складывает результат компиляции)
bin/
out/
target/
build/

# Настройки IntelliJ IDEA (локальные для вашего ПК)
.idea/
*.iml
*.iws
*.ipr

# Временные файлы системы
.DS_Store
Thumbs.db

# Логи
*.log